#profile .sub-text{
  color: var(--grey4);
  font-weight: 700;
}

#profile .icon-arrow-right{
  font-size:12px;
  color:var(--grey3);
}

#profile th:hover{
  cursor:pointer;
}

/*******
Icons
*******/
#profile .icon-sort{
  opacity:.5;
}

#profile .compatibility{
  border-radius: 5px;
  padding: 4px;
  font-weight: bold;
  font-size: 12px;
}

#profile .compatibility-first{
  color: var(--grey2);
  background: var(--grey5);
}

#profile .compatibility-last{
  background-color: var(--main_orange);
  color: var(--white);
}

/*******
other
*******/

#jango_fett{
  display:none;
}