:root{
  --main_orange: #ff7700;
  --secondary_orange: #ffaf58;
  --secondary_orange_50 : rgba(255, 175, 88,0.5);
  --grey1: #3c3c3c;
  --grey2: #3d3d3d;
  --grey3: #767676;
  --grey4:#9C9C9C;
  --grey5:#EDEDED;
  --white: #ffffff;
  --black: #000000;
  --light_blue_background: #ebf5ff;
  --light_blue_font: #6CADD9;
  --light_purple_background: #ede8fe;
  --light_purple_font: #a054dd;

  /*colors for infos, errors, warnings and messages */
  --message_green:#0a0;
  --message_light_green:#c2f5c2;
  --message_red:#f22;
  --message_light_red:#ffd5dc;
  --message_orange:#ee8800;
  --message_light_orange:#ffdd99;
  --message_blue:#00529b;
  --message_light_blue:#bde5f8;
}

/******
Purle pink gradient block
******/
.purple-gradient{
  background: linear-gradient(287deg, #1E0134 0%, #1E2775 19.79%, #6E2C96 44.79%, #FF005C 100%);
}

.purple-gradient p,
.purple-gradient a{
  color:var(--white)!important;
}

/******
Titles
******/

h1{
  font-size: 56px;
  font-weight: 900;
  text-align: left;
  color:  var(--grey1);
  line-height: 76px;
  transition: all 1s;
}

h2{
  font-size: 40px;
  font-weight: 900;
  text-align: left;
  color:  var(--grey1);
  transition: all 1s;
}

h3{
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  color:  var(--grey1);
  transition: all 1s;
}

h4{
  color:  var(--grey4);
  font-size:25px;
  font-weight: 700;
  line-height: 28px;
  transition: all 1s;
  text-align: left;
}


h5{
  color:  var(--grey3);
  font-size:20px;
  font-weight: 700;
  line-height: 28px;
  transition: all 1s;
  text-align: left;
}

/******
Buttons
******/
.btn-primary{
  background-color: var(--main_orange);
  color: var(--white);
  border:1px solid var(--main_orange);
  border-radius:0;
  width: auto;
  max-width: 300px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 15px 25px;
  transition: all 0.2s;
  text-transform: uppercase;
}

.btn-primary:hover{
  box-shadow: 3px 3px 6px #bbb;
  background-color: var(--main_orange);
  color: var(--white);
  border:1px solid var(--main_orange);
}

.btn-primary:focus,
.btn-primary:active{
  box-shadow: 3px 3px 6px #bbb;
  background-color: var(--main_orange);
  color: var(--white);
  border:1px solid var(--main_orange);
}

.btn-primary:active:focus{
  box-shadow: 0 0 0 0.25rem var(--secondary_orange_50);
}

.btn-secondary{
  border:1px solid var(--main_orange);
  color: var(--main_orange);
  background:none;
  border-radius:0;
  width: auto;
  max-width: 300px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 15px 25px;
  transition: all 0.2s;
  text-transform: uppercase;
}

.btn-secondary:hover{
  box-shadow: 3px 3px 6px #bbb;
  background-color: var(--main_orange);
  color: var(--white);
  border:1px solid var(--main_orange);
}

.btn-tertiary{
  border:1px solid var(--grey2);
  color: var(--grey2);
  background:var(--white);
  border-radius:0;
  width: auto;
  max-width: 300px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 15px 25px;
  transition: all 0.2s;
  text-transform: uppercase;
}

.btn-tertiary:hover{
  box-shadow: 3px 3px 6px #555;
  border:1px solid var(--main_orange);
}

.btn-danger,
.btn-outline-secondary{
  border-radius:0;
  width: auto;
  max-width: 300px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 15px 25px;
  transition: all 0.2s;
  text-transform: uppercase;
}

.btn-outline-primary{
  color: var(--main_orange);
  border-color: var(--main_orange);;
}

.btn-outline-primary:hover {
  color: var(--white);
  background-color: var(--main_orange);
  border-color: var(--main_orange)
}

.btn-check:active+.btn-outline-primary,
.btn-check:checked+.btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show,
.btn-outline-primary:active{
  color: var(--white);
  background-color: var(--main_orange);
  border-color: var(--main_orange);
}
.btn-check:active+.btn-outline-primary:focus,
.btn-check:checked+.btn-outline-primary:focus,
.btn-outline-primary.active:focus,
.btn-outline-primary.dropdown-toggle.show:focus,
.btn-outline-primary:active:focus,
.btn-check:active+.btn-outline-primary:focus, 
.btn-check:checked+.btn-outline-primary:focus,
.btn-outline-primary.active:focus,
.btn-outline-primary.dropdown-toggle.show:focus,
.btn-outline-primary:active:focus,
.btn-check:focus+.btn,
.btn:focus{
  box-shadow: 0 0 0 0.25rem rgba(255, 119, 0,.5)!important;
}


/******
Links
******/
a{
  text-decoration:none;
}

.link:hover{
  text-decoration:underline;
  cursor:pointer;
}

.orange-link{
  color:var(--main_orange);
  text-decoration:none;
}

.orange-link:hover{
  color:var(--main_orange);
  text-decoration:underline
}

.secondary-orange-link{
  color:var(--secondary_orange);
  text-decoration:none;
}

.secondary-orange-link:hover{
  color:var(--secondary_orange);
}

.white-link{
  color:var(--main_white);
  text-decoration:none;
}

.white-link:hover{
  color:var(--main_white);
}

.disabled{
  color:var(--grey4);
}

/******
Inputs
******/

textarea{
  min-height:calc(2em + .75rem + 2px);
}

input.form-control:read-only{
  color:var(--grey4);
}

input.form-control:read-only:focus{
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}

/*Switch*/
.form-check-input:checked {
  background-color: var(--main_orange);
  border-color: var(--main_orange);
}

.form-check-input:focus {
  border-color: var(--secondary_orange);
  outline: 0;
  box-shadow: 0 0 0 0.25rem var(--grey5);
}

.form-control{
  border: none;
  background-color:var(--grey5);
}

input[type="search"]:focus::-webkit-search-cancel-button{
  color:var(--primary_orange);
}

/*Selectize*/

.selectize-input{
  box-shadow: none;
  line-height:1rem;
  background-color: var(--white) !important;
}

.selectize-input .item,
.selectize-input .item.active,
.selectize-control.multi .selectize-input [data-value]{
  background-image:none !important;
  background-color: var(--secondary_orange) !important;
  border-color: transparent !important;
  color: var(--black) !important;
  border-radius: 20px !important;
}

.selectize-input .item .remove,
.selectize-input .item .remove {
  background-color: transparent !important;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  color: var(--black) !important;
  
  border-left: 1px solid transparent !important;

}
.selectize-input .item .remove:hover,
.selectize-input .item .remove:hover {
  background-color: var(--primary_orange) !important;
}

.selectize-control,
.selectize-dropdown.single.form-select.w-100{
  padding:0;
}
.selectize-control.single .selectize-input,
.selectize-dropdown.single{
  border: 1px solid #d0d0d0!important;
}

.selectize-dropdown{
  padding-right:0px;
}

.selectize-control.single .selectize-input,
.selectize-input .item, 
.selectize-input .item.active, 
.selectize-input [data-value]{
  border: none;
  background: transparent!important;
  box-shadow:none!important;
}

.version_filter_container .selectize-control.single .selectize-input:after{
  display:none;
}

.current_user .remove{
  display:none;
}

.selectize-input > input{
  line-height: normal!important;
  font-size: 1rem!important;
  font-weight: 400!important;
  background: transparent!important;
}

/******
Badges
******/
.blue-badge{
  background-color: var(--light_blue_background);
  color:var(--light_blue_font);
  padding: 5px 10px;
  border-radius: 25px;
  margin-left: 10px;
  font-size: 13px;
  font-weight: 700;
}

.purple-badge{
  background-color: var(--light_purple_background);
  color:var(--light_purple_font);
  padding: 5px 10px;
  border-radius: 25px;
  margin-left: 10px;
  font-size: 13px;
  font-weight: 700;
}

/******
Position
******/
.vertical-align{
  top:50%;
  transform:translateY(-50%);
  position:absolute;
}

.horizontal-align{
  left:50%;
  transform:translateX(-50%);
  position:absolute;
}

.vertical-horizontal-align{
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
}

/******
Dropdown
******/
.navbar .dropdown {
  z-index: 100;
  padding: 5px 0px;
  border-radius: 10px;
  background: linear-gradient(130deg, #ff7700 0%, #ffa744 100%);
  color: white;
  -moz-osx-font-smoothing: grayscale;
}

.navbar .dropdown::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform:translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #ff7700 transparent;
}

.navbar .dropdown-content {
  position: relative;
}

/******
Messages
******/

.infos, .errors, .warnings, .messages {
  text-align: left;
  padding: 5px 15px;
  font-weight:bold;
  min-height: 54px;
}

.infos i, .errors i, .warnings i, .messages i{
  display: inline-block;
  font-size: 30px;
  margin-right: 10px;
  vertical-align: middle;
}

.infos {
  color: var(--message_green);
  background-color:#c2f5c2;
  border-left:4px solid var(--message_green);
}

.errors {
  color: var(--message_red);
  background-color: var(--message_light_red);
  border-left: 4px solid var(--message_red);
}

.warnings {
  color: #ee8800;
  background-color:#ffdd99;
  border-left:4px solid #ee8800;
}

.messages {
  color: #00529b;
  background-color:#bde5f8;
  border-left:4px solid #00529b;
}

.infos .infos-content,
.errors .errors-content,
.warnings .warnings-content,
.messages .messages-content{
  vertical-align:middle;
}

.infos a {
  color: #3C3C3C;
}
.infos a:hover {
  text-decoration:underline;
}

/******
Homepage
******/

#homeSections .card{
  background: #FAFAFA;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  border:none;
  padding:15px;
}

#homeSections .spotlight .card,
.spotlight .card{
  background: linear-gradient(287deg, #1E0134 0%, #1E2775 19.79%, #6E2C96 44.79%, #FF005C 100%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  color:white;
  border:none;
}

#homeSections .spotlight .card h5{
  color:white;
}

#homeSections .spotlight,
#homeSections .highest-rated,
#homeSections .most-downloaded,
#homeSections .most-recent{
  margin:15px 0;
}

p.description{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

[data-title] {
	font-size: 18px;
	position: relative;
	cursor: help;
}

[data-title]:hover::before {
	content: attr(data-title);
	position: absolute;
	bottom: -46px;
	padding: 10px;
	background: var(--black);
	color: var(--white);
	font-size: 14px;
}

.rating_score i{
  color:var(--secondary_orange);
}
/******
Modals
******/

.modal.show .modal-dialog{
  max-height:90%;
}

.modal-body{
  max-height:75vh;
  overflow:auto;
}


/******
Edit mode
*******/
.circle-icon{
  background-color:var(--grey2);
  color:white;
  font-size:15px;
  border-radius:25px;
  padding:6px;
}

.circle-icon:hover{
  background-color:var(--main_orange);
  cursor:pointer;
  box-shadow: 2px 2px 6px #555;
  transition: all 0.2s;
}

.edit_mode{
  display:none;
}

.secondary_action{
  color: var(--grey2);
  border: 1px solid var(--grey2);
  background-color:transparent;
}

.secondary_icon{
  color: var(--grey4);
  vertical-align: text-bottom;
}

.secondary_icon:hover{
  cursor:pointer;
}

/******
Other
******/

.cancel-icon:hover{
  cursor:pointer;
  text-decoration:underline;
}

.cancel-icon i{
  font-size:10px;
}

.z-index{
  z-index:99;
}

.rotate-90{
  rotate: 90deg;;
}

[class^="icon-"]:before, 
[class*=" icon-"]:before{
  line-height:unset;
}

.border-right{
  border-right: 2px solid var(--grey4) !important;
}

.border-left{
  border-left: 2px solid var(--grey4) !important;
}

.certification_blue{
  max-height:20px;
}

.spinner-border{
  color:var(--grey3);
  width: 25px;
  height: 25px;
}

.placeholder_image{
  opacity:.2;
}

.container {
  width: 1170px;
}

.icon-star,
.icon-star-half{
  color:#f5c71a;
}

.table>:not(caption)>*>*{
  vertical-align:middle;
}