:root{
  --main_orange: #ff7700;
  --secondary_orange: #ffaf58;
  --grey1: #3c3c3c;
  --grey2: #3d3d3d;
  --grey3: #767676;
  --grey4:#9C9C9C;
  --grey5:#EDEDED;
  --white: #ffffff;
  --black: #000000;
  --light_blue_background: #ebf5ff;
  --light_blue_font: #6CADD9;
}

/******
Purle pink gradient block
******/
.purple-gradient{
  background: linear-gradient(287deg, #1E0134 0%, #1E2775 19.79%, #6E2C96 44.79%, #FF005C 100%);
}

.purple-gradient p,
.purple-gradient a{
  color:white!important;
}

/******
Titles
******/

h1{
  font-size: 56px;
  font-weight: 900;
  text-align: left;
  color:  var(--grey1);
  line-height: 76px;
  transition: all 1s;
}

h2{
  font-size: 40px;
  font-weight: 900;
  text-align: left;
  color:  var(--grey1);
  transition: all 1s;
}

h3{
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  color:  var(--grey1);
  transition: all 1s;
}

h4{
  color:  var(--grey4);
  font-size:25px;
  font-weight: 700;
  line-height: 28px;
  transition: all 1s;
  text-align: left;
}


h5{
  color:  var(--grey3);
  font-size:20px;
  font-weight: 700;
  line-height: 28px;
  transition: all 1s;
  text-align: left;
}

/******
Buttons
******/
.btn-primary{
  background-color: var(--main_orange);
  color: var(--white);
  border:1px solid var(--main_orange);
  border-radius:0;
  width: auto;
  max-width: 300px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 15px 25px;
  transition: all 0.2s;
  text-transform: uppercase;
}

.btn-primary:hover{
  box-shadow: 3px 3px 6px #bbb;
  background-color: var(--main_orange);
  color: var(--white);
  border:1px solid var(--main_orange);
}

.btn-secondary{
  border:1px solid var(--main_orange);
  color: var(--main_orange);
  background:none;
  border-radius:0;
  width: auto;
  max-width: 300px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 15px 25px;
  transition: all 0.2s;
  text-transform: uppercase;
}

.btn-secondary:hover{
  box-shadow: 3px 3px 6px #bbb;
  background-color: var(--main_orange);
  color: var(--white);
  border:1px solid var(--main_orange);
}

/******
Inputs
******/
.form-group{
  max-width:300px;
}

/******
Badges
******/
.blue-badge{
  background-color: var(--light_blue_background);
  color:var(--light_blue_font);
  padding: 5px 10px;
  border-radius: 25px;
  margin-left: 10px;
  font-size: 13px;
  font-weight: 700;
}

/******
Position
******/
.position-relative{
  position:relative;
}
.vertical-align{
  top:50%;
  transform:translateY(-50%);
  position:absolute;
}

/******
Homepage
******/

#homeSections .card{
  background: #FAFAFA;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  border:none;
  padding:15px;
  /* min-height:160px; */
}

#homeSections .spotlight .card,
.spotlight .card{
  background: linear-gradient(287deg, #1E0134 0%, #1E2775 19.79%, #6E2C96 44.79%, #FF005C 100%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  color:white;
  border:none;
}

#homeSections .spotlight .card h5{
  color:white;
}

#homeSections .spotlight,
#homeSections .highest-rated,
#homeSections .most-downloaded,
#homeSections .most-recent{
  margin:15px 0;
}

p.description{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

[data-title] {
	font-size: 18px;
	position: relative;
	cursor: help;
}

[data-title]:hover::before {
	content: attr(data-title);
	position: absolute;
	bottom: -46px;
	padding: 10px;
	background: #000;
	color: #fff;
	font-size: 14px;
	/* white-space: nowrap; */
}

.rating_score i{
  color:#f9a62d;
}