:root{
  --main_orange: #ff7700;
  --grey1: #3d3d3d;
  --grey3: #767676;
  --white: #ffffff;
  --black: #000000;
}

.navbar.bg-light{
  background-color: var(--white)!important;
}

.navbar .brand img{
  height:50px;
 }

.navbar-light .navbar-nav .nav-link{
  color: var(--grey1);
  padding: 8px 15px;
  white-space:nowrap;
}

.navbar-light .navbar-nav .nav-link:hover{
  color: var(--main_orange);
  text-decoration:underline;
  cursor:pointer;
}
  
#link-back-porg{
  text-decoration:none;
  color:var(--grey3);
  margin-left:15px;
}

.navbar-nav i{
  margin-right:5px;
}

#account-link i{
 color:var(--white);
 background-color:var(--main_orange);
 border-radius:25px;
 padding:3px;
}

@media (max-width: 1400px) {
  .navbar-light .navbar-nav .nav-link{
    font-size:14px;
    font-weight:700;
  }
  #link-back-porg{
    display:none!important;
  }
}

@media (max-width: 992px) {
  #link-back-porg{
    display:inline-lock!important;
  }
}

/*****
Account dropdown
******/
#account-dropdown{
  display:none;
  position:absolute;
  padding:10px;
  left:50%;
  transform:translateX(-50%);
}

#account-link:hover #account-dropdown{
  display:block;
}

#account-dropdown a{
  color:var(--white);
}

.border-bottom{
  padding-bottom:10px;
  border-bottom:1px solid var(--white);
  margin-bottom:10px;
}
