/******
specific css styles for single_view tpl
******/

/******
Titles
******/
#single_view h4.author{
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  color:var(--grey4);
  line-height: 41px;
  transition: all 1s;
}

#single_view h3.category{
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  line-height: 41px;
  transition: all 1s;
}

/******
Body text
******/
#single_view p.revision-version{
  color:var(--grey4);
  font-weight: 700;
  margin-left: 10px;
}

/******
Buttons
*******/
#single_view .btn-tertiary:hover{
  color:var(--main_orange);
}

/******
Borders
******/

#single_view .border-right{
  border-right:2px solid var(--grey4);
}

/******
header Image
******/
#single_view .image-background i{
  font-size:100px;
}

#single_view .screenshot_image{
  max-height:350px!important;
  height:100%;
  max-width:100%;
  object-fit:contain;
  object-position:top center;
}

#single_view .image-background{
  height:50vh!important;
}

/******
Revisions
******/
#single_view .changelogRevision.card{
  background-color:  var(--grey5);
  padding:20px;
  border-radius:15px;
  box-shadow: 0 0 5px var(--grey4);
  margin-bottom:30px;
  border:none;
}

#single_view .changelogRevision.card p{
  margin-bottom:0;
}

#single_view #changelog .changelogRevision.latest_rev{
  background-color:  var(--main_orange);
  color: var(--white);
}

#single_view .changelogRevision.card h4{
  /* font-size:20px; */
  font-weight:700;
  margin-bottom:0;
}

#single_view #changelog .changelogRevision.latest_rev h4,
#changelog .changelogRevision.latest_rev h5{
  color: var(--white);
}

#single_view #changelog .changelogRevision .changelogRevisionHeaderExpanded {
  border-bottom:2px solid var(--grey4);
}

#single_view #changelog .changelogRevision.latest_rev .changelogRevisionHeaderExpanded {
  border-bottom:2px solid var(--white);
}

#single_view #changelog .changelogRevision .btn-tertiary{
  border:1px solid var(--main_orange);
  color: var(--main_orange);
  background:var(--white)
}

#single_view .secondary_action:hover{
  color:white;
  border:1px solid var(--main_orange);
}

#single_view .edit_links .circle-icon{
  padding: 5px 10px;
}

#single_view #changelog .changelogRevision.latest_rev .circle-icon.main_action{
  color: var(--white);
  border: 1px solid var(--secondary_orange);
  background-color:var(--secondary_orange);
}

#single_view #changelog .changelogRevision.latest_rev .circle-icon.secondary_action{
  color: var(--white);
  border: 1px solid var(--white);
  background-color:transparent;
}

#single_view #changelog .changelogRevision.latest_rev .circle-icon.secondary_action:hover,
#single_view #changelog .changelogRevision.latest_rev .circle-icon.main_action:hover{
  color: var(--main_orange);
  border: 1px solid var(--white);
  background-color:var(--white);
}

.changelogRevision .circle-icon{
  padding:6px;
}

#single_view .form-select {
  line-height: normal;
}

#single_view .revision_title_container {
  cursor:pointer;
}

/******
Links
******/
#single_view button.link-primary{
  border: none;
  background: none;
  cursor: pointer;
}

/******
Lists
******/
#single_view .list-group{
  flex-direction:row;
  flex-wrap:wrap;
}

#single_view .list-group-flush>.list-group-item{
  border: 0;
}